@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: #0f1117;
    color: #fdb950;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.33vw;
    margin: 1.67% 0;
}

.site-title {
    font-size: 1.67vw;
    font-weight: bold;
    padding: 1.67%;
}

.main-heading {
    font-size: 2.33vw;
    font-weight: bold;
}

.highlight {
    color: #fdb950;
}

.sub-heading {
    font-size: 1.47vw;
    font-weight: bold;
    margin-top: -0.67%;
}

.features {
    display: flex;
    justify-content: center;
    gap: 3.33vw;
    margin-top: 2.67%;
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    flex: 1 1 26.67vw;
    max-width: 40vw;
    text-decoration: none;
    color: #fdb950;
    padding: 2%;
    border-radius: 10px;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
}
.feature:hover {
    transform: scale(1.05);
    border: 0.5vw solid #fdb950;
}

.feature img {
    width: 6.67vw;
    height: auto;
}

.feature p {
    font-size: 1.47vw;
    font-weight: bold;
    margin-top: 1.33%;
}

.cta-button {
    display: inline-block;
    background: transparent;
    border: 0.2vw solid #fdb950;
    color: #fdb950;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    padding: 1.2vw 2.4vw;
    border-radius: 1vw;
    margin-top: 3.67%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
.cta-button:hover {
    background-color: #fdb950;
    color: #101820;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        max-width: 53.33%;
    }

    .cta-button {
        width: 53.33%;
        padding: 2%;
        font-size: 1.47vw;
    }
}
