@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: #0f1117;
    color: #fdb950;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    margin: 20px 0;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.main-heading {
    font-size: 28px;
    font-weight: bold;
}

.highlight {
    color: #fdb950;
}

.sub-heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: -10px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    flex: 1 1 200px;
    max-width: 300px;
    text-decoration: none;
    color: #fdb950;
    padding: 15px;
    border-radius: 10px;
    transition: background 1s, transform 0.2s;
}

.feature:hover {
    background-color: #fc8b0088;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(253, 185, 80, 0.5);
}

.feature img {
    width: 100px;
    height: auto;
}

.feature p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* Кнопка */
.cta-button {
    display: inline-block;
    background-color: #fdb950;
    color: #0f1117;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(253, 185, 80, 0.5);
}

.cta-button:hover {
    background-color: #fc8c00;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(253, 140, 0, 0.6);
}

/* Адаптивность */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        max-width: 80%;
    }

    .cta-button {
        width: 80%;
        padding: 15px;
        font-size: 16px;
    }
}
