<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучающий сайт</title>
    <link rel="stylesheet" href="static/starter.css">
</head>
<body>
    <header>
        <h1 class="site-title">Repirok</h1>
    </header>
    <main>
        <h2 class="main-heading">Хочешь учиться? <span class="highlight">УЧИСЬ!</span></h2>
        <p class="sub-heading">А мы поможем!</p>
        <div class="features">
            <a href="" class="feature">
                <img src="../static/img/idea.svg" alt="Лучшие учителя">
                <p>Лучшие учителя</p>
            </a>
            <a href="" class="feature">
                <img src="../static/img/task.svg" alt="Честные отзывы">
                <p>Честные отзывы</p>
            </a>
            <a href="" class="feature">
                <img src="../static/img/discussion.svg" alt="Прямое общение">
                <p>Прямое общение</p>
            </a>
        </div>
        
        </div>
        <a href="{{ url_for('register') }}" class="cta-button">Найти репетитора</a>
    </main>
</body>
</html>
